<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test ReactJS</title>
	<script src="libs/react.js"></script>
	<script src="libs/react-dom.js"></script>
	<script src="libs/browser.min.js"></script>
</head>
<body>
	<div id="root"></div>
	<script src="index.js" type="text/babel"></script>
</body>
</html>