<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test ReactJS</title>
	<script src="libs/react.js"></script>
	<script src="libs/react-dom.js"></script>
	<script src="libs/browser.min.js"></script>
	<script src="libs/jquery-3.1.1.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="root">
		
	</div>
	<script src="js/ajax.js" type="text/babel"></script>
</body>
</html>
<!-- <div class="list-box">
	<button class="list-box__add">+</button>
	<div class="list-box__form">
		<input class="list-box__input" type="text">
		<button class="list-box__save">Save</button>
	</div>
	<div class="list-box__note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, magnam!</div>
	<div class="list-box__note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, magnam!</div>
	<div class="list-box__note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, magnam!</div>
</div> -->